* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

img {
  border: 0 none;
  vertical-align: top;
}

i,
em {
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

input,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-family: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #666;
}

body {
  height: 100%;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}

input[type="text"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  border-radius: 0;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0 none;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  /* vertical-align: baseline; */
  /* 在X5新内核Blink中，在排版页面的时候，会主动对字体进行放大，会检测页面中的主字体，当某一块字体在我们的判定规则中，认为字号较小，并且是页面中的主要字体，就会采取主动放大的操作。然而这不是我们想要的，可以采取给最大高度解决 */
  /* max-height: 100000px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

em,
strong {
  font-style: normal;
}

ul,
ol,
li {
  list-style: none;
}

body {
  line-height: 1.5;
  color: #333;
  background-color: #f2f2f2;
  font-size: 0.24rem;
  max-width: 640px; /* no */
  min-width: 320px; /* no */
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  margin: 0 auto;
}

html {
  width: 100%;
  height: 100%;
  background: #fff;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.page {
  width: 100%;
  height: 100%;
  overflow: auto;
}

*::-webkit-scrollbar {
  display: none;
}
/* --清除谷歌浏览器下的 search 叉号 */
input::-webkit-search-cancel-button {
  display: none;
}
/* --清除IE下的 search 叉号 */
input[type="search"]::-ms-clear {
  display: none;
}